<%= form_with(model: @article, local: true) do |form| %>

  <br>
  <h1> Crear un artículo </h1>

  <br>
  <div class = "field">
    <%=form.label :titulo %>
    <%=form.text_field :title %>
  </div>

  <br>
  <div class="field">
    <%=form.label :condiciones_relacionadas %>
    <div class="row">
      <% @types.each do |type| %>
        <label class="col-6 col-sm-4">
          <%= form.check_box :type_elements, {multiple: true}, type.id, nil %>
          <%= type.title %>
        </label>
      <% end %>
    </div>
  </div>

  <br>
  <div class = "field">
    <%=form.label :contenido %>
    <%=form.rich_text_area :content %>
  </div>

  <br>
  <div>
    <%=form.submit "Crear artículo" %>
  </div>

<% end %>
