<%= form_with(model: @article, local: true) do |form| %>

  <div class = "field">
    <%=form.label :title %>
    <%=form.text_field :title %>
  </div>

  <div class="field">
    <%=form.label :type_elements %>
    <div class="row">
      <% @types.each do |type| %>
        <label class="col-6 col-sm-4">
          <%= form.check_box :type_elements, {multiple: true}, type.id, nil %>
          <%= type.title %>
        </label>
      <% end %>
    </div>
  </div>

  <div class = "field">
    <%=form.label :content %>
    <%=form.rich_text_area :content %>
  </div>

  <div>
    <%=form.submit %>
  </div>

<% end %>
