<div class="large-container center-block">

  <h1> <%=@article.title %> </h1>
  <div>
    <%= @article.content %>
  </div>

  <div class="margin-top">
  <p class="label">Tags</p>
  <% @article.types.each do |type| %>
    <span class="badge badge-pill padding" style="background-color:<%= type.color %>">
      <%= link_to type.title, type, class:"text-white" %>
    </span>
  <% end %>
  </div>

  <div>
    <p> Escrito por: <strong> <%= @article.educator.email %> </strong>
      <% if @article.educator.avatar.attached? %>
        <%= image_tag url_for(@article.educator.avatar), height:30 %>
      <% end %>
    </p>
  </div>
  <div>
      <%= link_to 'Back', articles_path, :class => "btn btn-primary" %>
      <%= link_to "Eliminar el articulo", @article, method: :delete, :class => "btn btn-danger"%>
  </div>

</div>
