<div class="small-container center-block">
  <p class="font-wight-bold text-uppercase margin-top">Editar educador </p>

  <% if current_educator.avatar.attached? %>
    <%= image_tag url_for(current_educator.avatar), height:200 %>
  <% end %>

  <%= form_with(model: current_educator, local: true) do |form| %>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :institution %>
      <%= form.text_field :institution %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, size: "75x6"%>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="field">
      <%= form.label :country %>
      <%= form.text_field :country %>
    </div>

    <div class="field">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>

    <div class="field">
      <%= form.submit "Guardar", class:"btn btn-primary" %>
    </div>
  <% end %>

</div>
