<div class="large-container center-block">

  <p id="notice"><%= notice %></p>

  <h1>Condiciones</h1>

  <table>
    <thead>
      <tr>
        <br>
        <!-- <th>Nombre</th> -->
        <!-- <th>Color</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @types.each do |type| %>
      <td></td>
        <tr>
          <td><h4><%= type.title %></h4></td>
          <!-- <td><%= type.color %></td> -->

          <td><%= link_to 'Ver', type %></td>
          <!-- <td><%= link_to 'Editar', edit_type_path(type) %></td> -->
          <!-- <td><%= link_to 'Eliminar', type, method: :delete, data: { confirm: 'Eliminar condición?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar nueva condición', new_type_path %>

</div>
